<div class="p-8 w-full h-full bg-slate-700">
  <div class="flex flex-row justify-between px-4">
    <h1 class="text-4xl font-semibold">Weather for {{ city }}</h1>
    <button
      (click)="goBack()"
      class="bg-blue-500 text-white float-right h-14 px-3 rounded mb-4"
    >
      &#9664; Back
    </button>
  </div>
  <div class="bg-gray-800 p-4 rounded-lg mb-6 text-white">
    <h2 class="text-2xl font-semibold mb-2">Current Weather</h2>
    <p class="text-lg">
      {{
        weatherData?.data?.current_condition[0]?.weatherDesc[0]?.value ||
          "No data available"
      }}
    </p>
    <p class="text-4xl">
      {{ weatherData?.data?.current_condition[0]?.temp_C }}&deg;C
    </p>
    <p class="text-lg">
      Real Feel: {{ weatherData?.data?.current_condition[0]?.FeelsLikeC }}&deg;C
    </p>
    <!-- Add more current weather data as needed -->
  </div>

  <div class="bg-gray-800 text-white p-4 rounded-lg">
    <h2 class="text-2xl font-semibold mb-2">Historical Weather</h2>

    <div *ngIf="historicalWeather">
      <p>
        Average Temperature:
        {{ historicalWeather?.data?.weather[0]?.avgtempC }}&deg;C
      </p>

      <app-d3-line-chart
        [data]="transformHistoricalData(historicalWeather)"
      ></app-d3-line-chart>
    </div>
  </div>
</div>
