<div class="p-8">
  <h1 class="text-4xl font-semibold">Weather for {{ city }}</h1>

  <!-- Current Weather Summary -->
  <div class="bg-gray-800 p-4 rounded-lg mb-6">
    <h2 class="text-2xl font-semibold mb-2">Current Weather</h2>
    <p class="text-lg">
      {{
        weatherData?.data?.current_condition[0]?.weatherDesc[0]?.value ||
          "No data available"
      }}
    </p>
    <p class="text-4xl">
      {{ weatherData?.data?.current_condition[0]?.temp_C }}&deg;C
    </p>
    <p class="text-lg">
      Real Feel: {{ weatherData?.data?.current_condition[0]?.FeelsLikeC }}&deg;C
    </p>
    <!-- Add more current weather data as needed -->
  </div>

  <!-- Historical Weather Data -->
  <div class="bg-gray-800 p-4 rounded-lg">
    <h2 class="text-2xl font-semibold mb-2">Historical Weather</h2>
    <!-- Display historical weather data here -->
    <!-- For example, if historical data is available -->
    <div *ngIf="historicalWeather">
      <p>
        Average Temperature:
        {{ historicalWeather?.data?.weather[0]?.avgtempC }}&deg;C
      </p>
      <!-- Add more historical weather data as needed -->
      <app-d3-line-chart
        [data]="transformHistoricalData(historicalWeather)"
      ></app-d3-line-chart>
    </div>
  </div>
</div>
